---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "A list of goals I'm striving towards.",
	title: "Study Goals",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Study Goals</h1>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui delectus ex velit illo magni nesciunt eligendi eveniet distinctio earum praesentium, obcaecati maxime explicabo necessitatibus sunt nisi molestias asperiores dolore aliquid?
		</p>
	</div>
</PageLayout>
