---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 15;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello, interested party!</h1>
		<p class="mb-4">
			You've found your way to my study logs. The intent of this page is to indiscriminately
			dump study notes, questions, ideas, etc., about whatever I'm currently studying. 
			It will be messy and unorganized, probably wrong, maybe inconsistent, and definitely 
			boring (maybe). Don't worry about it too much---I'm not! 
		</p>
		<p>
			The goal here is to post regularly to serve as a personal accountability tool, reference
			material, and a measure of progress. I've never really logged my study sessions in
			the past, but as the topics I study become increasingly complex and demanding, I've
			found that the occassional notes I've been taking aren't enough. They get lost in a
			notebook that's stashed in a drawer that I forget to update and review. Making posts
			here with markup is quick, easy, and low-friction, as I already have the tools ready
			at my disposal while I'm studying. 
		</p>
		<br>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Study Logs</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
